.nav-links .nav-item .dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.5s;
}

.nav-links .nav-item .dropbtn:hover {
    border-bottom: 5px solid #00a3e0;
    background-color: #f4f4f4;
}

.nav-item:hover .dropbtn {
    border-bottom: 5px solid #00a3e0;
}


.dropdown-content {
    background-color: #f4f4f4;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    transition: height 0.18s ease-in-out;
}

.nav-item:hover .dropdown-content {
    height: 35vh;
}

.dropdown-content .header {
    display: flex;
    align-items: left;
    padding: 20px 14px 14px 0px;
    background-color: #f4f4f4;
}

.dropdown-content .header h2 {
    font-family: "Jost", sans-serif;
    font-weight: 200;
    color: rgb(0, 0, 0);
    margin-left:80px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}





.row {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Ensures no gap between columns by default */
    padding: 0;
    transition: margin 0.3s ease-in-out
}

.row a {
    padding-left: 0;
    transition: padding 0.3s ease-in-out;
}


.column {
    width: fit-content;
    padding: 10px;
    background-color: #f4f4f4;
    height: 0;
    overflow: hidden;
    text-align: left;
    transition: margin 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.nav-item:hover .column {
    height: max-content;
    opacity: 1;
}

.column a {
    padding-bottom: 14px;
    padding-top: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column h6 {
    color: rgb(134, 134, 134);

}
.column:hover h6 {
    color: rgb(0, 0, 0);
}

.column a {
    color: rgb(181, 179, 179);
}






.column a:hover {
    color: rgb(97, 94, 94);
    padding-left: 5px;
    /*focus on hovered column*/
}
.column a:not(:hover) {
    color: rgb(0, 0, 0);
    padding-left: 5px;
    /*focus on hovered column*/

}   

/* Add spacing on hover with a smooth transition */
.column:hover {
    margin-right: 20px;
    margin-left: 20px;
    /* Adjust this value for desired spacing */
    transition: margin 0.15s ease-in-out;
    /* Smooth transition for margin */
}