@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;  
}



.upper-banner {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-links-left,
.upper-links-right {
    display: flex;
    align-items: center;
}

.upper-links-left a {
    color: #888;
    font-size: 14px;
    text-decoration: none;
    margin-left: 17px;
}

.upper-links-right a,
.upper-links-right p {
    color: #888;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
}

.upper-links-right a.icon {
    font-size: 18px;
}

.upper-links-left a:hover,
.upper-links-right a:hover {
    color: #000;
}

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 14.2px;
    background-color: #f4f4f4;
}

.nav-links {
    height: 100%;
    display: flex;
    position: relative;
}

.nav-links .nav-item {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}

.logo img {
    padding-left: 20px;
    padding-top: 7px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.search {
    padding-right: 0px;
}

.search__input {
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem;
    border-radius: 30px;
    width: 200px;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__button {
    border: none;
}

.banner {
    background-color: #e0f7ff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.banner .slide a {
    color: #00a3e0;
    text-decoration: none;
}


