main {
    padding-top: 140px;
    padding: 140px 50px 0px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 25px 4px
}



.default-view {
  display: flex;
  flex-direction: row;
justify-content: space-around;
}

.newsmail-enroll {
    width: fit-content;
    height: fit-content;  
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  
  .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
  }
  
  .split input {
    width: 100%;
  }
  
  .input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
  }
  
  .purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: none
  }
    
  .security-certification {
    width: 35vw;
    color: gray;
  
  }
  .security-certification .shield {
    padding-top: 60px;
    display: flex;
    flex-direction:row;
    padding-bottom: 10px;

  }

  .security-certification img {
    height: auto; 
    width: auto; 
    max-width: 70px; 
    max-height: 70px;
    padding-right: 10px;
  }
  
  .security-certification p {
    padding-bottom: 5px;
  }